@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  background: #f5f8fa;
}

.title {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 3em;
  color: #787878;
  margin-bottom: 25px;
}

.container {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container p {
  line-height: 1.6;
  font-size: 16px;
  font-weight: 300;
  color: #333333;
}

.faq-container {
  width: 70%;
  height: auto;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
}

.faq-container .highlight {
  background-color: #a6d2ff;
}

.faq-container ul li:not(:first-child) {
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px solid #005dba;
}

.faq-container ul li h2 {
  font-size: 2em;
  font-weight: 200;
  margin-bottom: 25px;
}

.faq-container ul li h2 a {
  color: #787878;
  text-decoration: none;
}

.faq-container ul li h2 a:hover {
  color: #005dba;
}

.faq-container ul li div {
  display: none;
}

input {
  border: none;
  border-radius: 10px;
  width: 80%;
  height: 60px;
  font-size: 18px;
  background-color: #fff;
  box-shadow: 2px 4px 7px rgba(52, 67, 75, 0.2);
  display: block;
  padding: 0 20px;
  margin-bottom: 50px;
}

input::-webkit-input-placeholder {
  color: #9ea9b0;
  font-style: oblique;
  font-weight: 300;
}

input::-moz-placeholder {
  color: #9ea9b0;
  font-style: oblique;
  font-weight: 300;
}

input:-ms-input-placeholder {
  color: #9ea9b0;
  font-style: oblique;
  font-weight: 300;
}

.not-found {
  display: none;
}

.not-found p {
  font-size: 20px;
  font-style: oblique;
  color: #333333;
}

.is-hidden {
  display: none !important;
}

.is-active {
  display: block !important;
}

.is-visable {
  display: block !important;
}

.targeted {
  color: #005dba !important;
}

.hidden-keywords {
  display: none;
}
/*# sourceMappingURL=styles.css.map */