@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400');
@import 'reset';
$head-color: #787878;
$text-color: #333333;
$ph-text-color: #9ea9b0;
$hover-color: #005dba;
$active-color: #005dba;
$bg: #f5f8fa;
$highlight: #a6d2ff;
$font: 'Quicksand',
sans-serif;
body,
html {
	background: $bg;
}

.title {
	font-family: $font;
	font-weight: 400;
	font-size: 3em;
	color: $head-color;
	margin-bottom: 25px;
}

.container {
	padding: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	p {
		line-height: 1.6;
		font-size: 16px;
		font-weight: 300;
		color: $text-color;
	}
}

.faq-container {
	width: 70%;
	height: auto;
	margin-bottom: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: $font;
	.highlight {
		background-color: $highlight;
	}
	ul {
		li {
			&:not(:first-child) {
				padding-top: 25px;
				margin-top: 25px;
				border-top: 1px solid $hover-color;
			}
			h2 {
				a {
					color: $head-color;
					text-decoration: none;
					&:hover {
						color: $hover-color;
					}
				}
				font-size: 2em;
				font-weight: 200;
				margin-bottom: 25px;
			}
			div {
				display: none;
			}
		}
	}
}

input {
	border: none;
	border-radius: 10px;
	width: 80%;
	height: 60px;
	font-size: 18px;
	background-color: #fff;
	box-shadow: 2px 4px 7px rgba( 52, 67, 75, .2);
	display: block;
	padding: 0 20px;
	margin-bottom: 50px;
	&::-webkit-input-placeholder {
		color: $ph-text-color;
		font-style: oblique;
		font-weight: 300;
	}
	&::-moz-placeholder {
		color: $ph-text-color;
		font-style: oblique;
		font-weight: 300;
	}
	&:-ms-input-placeholder {
		color: $ph-text-color;
		font-style: oblique;
		font-weight: 300;
	}
}

.not-found {
	p {
		font-size: 20px;
		font-style: oblique;
		color: $text-color;
	}
	display: none;
}

.is-hidden {
	display: none !important;
}

.is-active {
	display: block !important;
}

.is-visable {
	display: block !important;
}

.targeted {
	color: $active-color !important;
}

.hidden-keywords {
	display: none;
}